version: '2'

volumes:

  mongo-data: {}
  solr-data: {}
  learninglocker-data: {}
  files: {}
  certs: {}

services:

  ##
  ##  Infrastructure services
  ##

  maintenance:
    image: slidewiki/maintenance:${SLIDEWIKI_VERSION}
    restart: always
    expose:
      - "80"
    environment:
      - VIRTUAL_HOST=maintenance.${BASE_DOMAIN}
      - LETSENCRYPT_HOST=maintenance.${BASE_DOMAIN}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
      - LETSENCRYPT_TEST
    networks:
      - front-trier
      - back-trier
    volumes:
      - ${MAINTENANCE_DIR}:/maintenance
      - files:/data/files # used to backup files
    depends_on:
      - mongodb
      - logger

  letsencrypt:
    image: jrcs/letsencrypt-nginx-proxy-companion
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - certs:/etc/nginx/certs:rw
    volumes_from:
      - webserver

  # Fluentd based logging
  logger:
    image: slidewiki/logger:latest
    restart: always
    volumes:
      - ${MAINTENANCE_DIR}/log:/fluentd/log
    ports:
      - "24224:24224"
    networks:
      - front-trier
      - back-trier
    privileged: true

  mongodb:
    volumes:
      - mongo-data:/data/db
    depends_on:
      - logger
    logging:
      driver: fluentd
      options:
        fluentd-address: "localhost:24224"
        tag: "slidewiki.mongodb"

  redis:
    depends_on:
      - logger
    logging:
      driver: fluentd
      options:
        fluentd-address: "localhost:24224"
        tag: "slidewiki.redis"

  webserver:
    environment:
      - BASENAME=${BASE_DOMAIN}
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - certs:/etc/nginx/certs:ro
      - /etc/nginx/vhost.d
      - /usr/share/nginx/html
    depends_on:
      - logger
    logging:
      driver: fluentd
      options:
        fluentd-address: "localhost:24224"
        tag: "slidewiki.webserver"

  ##
  ##  SlideWiki Platform
  ##

  platform:
    environment:
      - VIRTUAL_HOST=${BASE_DOMAIN},www.${BASE_DOMAIN}
      - SERVICE_URL_DECK=https://deckservice.${BASE_DOMAIN}
      - SERVICE_URL_DISCUSSION=https://discussionservice.${BASE_DOMAIN}
      - SERVICE_URL_ACTIVITIES=https://activitiesservice.${BASE_DOMAIN}
      - SERVICE_URL_NOTIFICATION=https://notificationservice.${BASE_DOMAIN}
      - SERVICE_URL_USER=https://userservice.${BASE_DOMAIN}
      - SERVICE_URL_IMPORT=https://importservice.${BASE_DOMAIN}
      - SERVICE_URL_FILE=https://fileservice.${BASE_DOMAIN}
      - SERVICE_URL_SEARCH=https://searchservice.${BASE_DOMAIN}
      - SERVICE_URL_PDF=https://pdfservice.${BASE_DOMAIN}
      - SERVICE_URL_TAG=https://tagservice.${BASE_DOMAIN}
      - SERVICE_URL_QUESTION=https://questionservice.${BASE_DOMAIN}
      - SERVICE_URL_SIGNALING=https://signalingservice.${BASE_DOMAIN}
      - SERVICE_LEARNINGLOCKER_API_URL=http://learninglockerapi
      - SERVICE_LEARNINGLOCKER_API_AUTH
      - SERVICE_VAR_IMPORT_HOST=importservice.${BASE_DOMAIN}
      - SERVICE_PROTOCOL_IMPORT=https
      - SERVICE_PORT_IMPORT=443
      - LETSENCRYPT_HOST=${BASE_DOMAIN}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
      - SERVICE_USER_APIKEY=${APIKEY}
      - SERVICE_USER_PRIVATE_RECAPTCHA_KEY=${RECAPTCHA_PRIVATE_KEY}
      - SERVICE_USER_PUBLIC_RECAPTCHA_KEY=${RECAPTCHA_PUBLIC_KEY}
      - LETSENCRYPT_TEST
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_FROM=${SMTP_FROM}
      - SMTP_TO=${SMTP_TO}
      - SMTP_CLIENTNAME=${SMTP_CLIENTNAME}
      - SSO_ENABLED=${SSO_ENABLED}
    depends_on:
      - logger
    logging:
      driver: fluentd
      options:
        fluentd-address: "localhost:24224"
        tag: "slidewiki.platform"

  ##
  ##  SlideWiki Basic Services
  ##

  deckservice:
    environment:
      - VIRTUAL_HOST=deckservice.${BASE_DOMAIN}
      - SERVICE_URL_FILE=https://fileservice.${BASE_DOMAIN}
      - LETSENCRYPT_HOST=deckservice.${BASE_DOMAIN}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
      - LETSENCRYPT_TEST
      - SERVICE_URL_TAG=https://tagservice.${BASE_DOMAIN}
      - SERVICE_URL_USER=https://userservice.${BASE_DOMAIN}
      - SERVICE_URL_TRANSLATION=https://translationservice.${BASE_DOMAIN}
      - JWT_SERIAL=${JWT_SERIAL}
    depends_on:
      - logger
    logging:
      driver: fluentd
      options:
        fluentd-address: "localhost:24224"
        tag: "slidewiki.deckservice"

  userservice:
    environment:
      - VIRTUAL_HOST=userservice.${BASE_DOMAIN}
      - LETSENCRYPT_HOST=userservice.${BASE_DOMAIN}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
      - LETSENCRYPT_TEST=${LETSENCRYPT_TEST}
      - URL_PLATFORM=https://${BASE_DOMAIN}
      - SERVICE_URL_ACTIVITIES=https://activitiesservice.${BASE_DOMAIN}
      - SERVICE_URL_DECK=https://deckservice.${BASE_DOMAIN}
      - SERVICE_URL_FILE=https://fileservice.${BASE_DOMAIN}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_FROM=${SMTP_FROM}
      - SMTP_CLIENTNAME=${SMTP_CLIENTNAME}
      - SMTP_ENABLED=${SMTP_ENABLED}
      - JWT_SERIAL=${JWT_SERIAL}
      - APIKEY=${APIKEY}
      - LTI_ID=${LTI_ID}
      - LTI_KEY=${LTI_KEY}
      - LTI_SECRET=${LTI_SECRET}
    volumes:
      - ./userservice/providerConfig.json:/nodeApp/config.json
    depends_on:
      - logger
    logging:
      driver: fluentd
      options:
        fluentd-address: "localhost:24224"
        tag: "slidewiki.userservice"

  fileservice:
    environment:
      - VIRTUAL_HOST=fileservice.${BASE_DOMAIN}
      - LETSENCRYPT_HOST=fileservice.${BASE_DOMAIN}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
      - LETSENCRYPT_TEST
      - JWT_SERIAL=${JWT_SERIAL}
    volumes:
      - files:/data/files
    depends_on:
      - logger
    logging:
      driver: fluentd
      options:
        fluentd-address: "localhost:24224"
        tag: "slidewiki.fileservice"

  activitiesservice:
    environment:
      - VIRTUAL_HOST=activitiesservice.${BASE_DOMAIN}
      - SERVICE_URL_DECK=https://deckservice.${BASE_DOMAIN}
      - SERVICE_URL_NOTIFICATION=https://notificationservice.${BASE_DOMAIN}
      - SERVICE_URL_USER=https://userservice.${BASE_DOMAIN}
      - URL_PLATFORM=https://${BASE_DOMAIN}
      - LRS_ENDPOINT=http://xapi/data/xAPI
      - LRS_PUBLIC_KEY=${XAPI_CLIENT_KEY}
      - LRS_SECRET=${XAPI_CLIENT_SECRET}
      - LETSENCRYPT_HOST=activitiesservice.${BASE_DOMAIN}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
      - LETSENCRYPT_TEST
    depends_on:
      - logger
    logging:
      driver: fluentd
      options:
        fluentd-address: "localhost:24224"
        tag: "slidewiki.activitiesservice"

  notificationservice:
    environment:
      - VIRTUAL_HOST=notificationservice.${BASE_DOMAIN}
      - SERVICE_URL_USER=https://userservice.${BASE_DOMAIN}
      - LETSENCRYPT_HOST=notificationservice.${BASE_DOMAIN}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
      - LETSENCRYPT_TEST
    depends_on:
      - logger
    logging:
      driver: fluentd
      options:
        fluentd-address: "localhost:24224"
        tag: "slidewiki.notificationservice"

  discussionservice:
    environment:
      - VIRTUAL_HOST=discussionservice.${BASE_DOMAIN}
      - SERVICE_URL_DECK=https://deckservice.${BASE_DOMAIN}
      - SERVICE_URL_USER=https://userservice.${BASE_DOMAIN}
      - LETSENCRYPT_HOST=discussionservice.${BASE_DOMAIN}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
      - LETSENCRYPT_TEST
    depends_on:
      - logger
    logging:
      driver: fluentd
      options:
        fluentd-address: "localhost:24224"
        tag: "slidewiki.discussionservice"

  tagservice:
    environment:
      - VIRTUAL_HOST=tagservice.${BASE_DOMAIN}
      - SERVICE_URL_DECK=https://deckservice.${BASE_DOMAIN}
      - SERVICE_URL_DISCUSSION=https://discussionservice.${BASE_DOMAIN}
      - SERVICE_URL_ACTIVITIES=https://activitiesservice.${BASE_DOMAIN}
      - SERVICE_URL_NOTIFICATION=https://notificationservice.${BASE_DOMAIN}
      - SERVICE_URL_USER=https://userservice.${BASE_DOMAIN}
      - SERVICE_URL_SEARCH=https://searchservice.${BASE_DOMAIN}
      - SERVICE_URL_IMAGE=https://imageservice.${BASE_DOMAIN}
      - SERVICE_URL_FILE=https://fileservice.${BASE_DOMAIN}
      - SERVICE_URL_PDF=https://pdfservice.${BASE_DOMAIN}
      - SERVICE_URL_IMPORT=https://importservice.${BASE_DOMAIN}
      - LETSENCRYPT_HOST=tagservice.${BASE_DOMAIN}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
      - LETSENCRYPT_TEST
    depends_on:
      - logger
    logging:
      driver: fluentd
      options:
        fluentd-address: "localhost:24224"
        tag: "slidewiki.tagservice"

  questionservice:
    environment:
      - VIRTUAL_HOST=questionservice.${BASE_DOMAIN}
      - SERVICE_URL_DECK=https://deckservice.${BASE_DOMAIN}
      - LETSENCRYPT_HOST=questionservice.${BASE_DOMAIN}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
      - LETSENCRYPT_TEST
    depends_on:
      - logger
    logging:
      driver: fluentd
      options:
        fluentd-address: "localhost:24224"
        tag: "slidewiki.questionservice"

  ##
  ## SlideWiki Search Services
  ##

  searchservice:
    environment:
      - VIRTUAL_HOST=searchservice.${BASE_DOMAIN}
      - LETSENCRYPT_HOST=searchservice.${BASE_DOMAIN}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
      - LETSENCRYPT_TEST
    depends_on:
      - logger
    logging:
      driver: fluentd
      options:
        fluentd-address: "localhost:24224"
        tag: "slidewiki.searchservice"

  searchindexer:
    environment:
      - SERVICE_URL_DECK=https://deckservice.${BASE_DOMAIN}
    depends_on:
      - logger
    logging:
      driver: fluentd
      options:
        fluentd-address: "localhost:24224"
        tag: "slidewiki.searchindexer"

  solr:
    volumes:
      - solr-data:/solr-data
    environment:
      - VIRTUAL_HOST=solr.${BASE_DOMAIN}
      - LETSENCRYPT_HOST=solr.${BASE_DOMAIN}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
    depends_on:
      - logger
    logging:
      driver: fluentd
      options:
        fluentd-address: "localhost:24224"
        tag: "slidewiki.solr"

  ##
  ## SlideWiki Import/Export Services
  ##

  importservice:
    environment:
      - VIRTUAL_HOST=importservice.${BASE_DOMAIN}
      - SERVICE_URL_DECK=https://deckservice.${BASE_DOMAIN}
      - SERVICE_URL_FILE=https://fileservice.${BASE_DOMAIN}
      - SERVICE_URL_UNOCONV=https://unoconvservice.${BASE_DOMAIN}
      - LETSENCRYPT_HOST=importservice.${BASE_DOMAIN}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
      - LETSENCRYPT_TEST
      - JWT_SERIAL=${JWT_SERIAL}
    volumes:
      - files:/data/files
    depends_on:
      - logger
    logging:
      driver: fluentd
      options:
        fluentd-address: "localhost:24224"
        tag: "slidewiki.importservice"

  pdfservice:
    environment:
      - VIRTUAL_HOST=pdfservice.${BASE_DOMAIN}
      - SERVICE_URL_DECK=https://deckservice.${BASE_DOMAIN}
      - SERVICE_URL_PDF=https://pdfservice.${BASE_DOMAIN}
      - SERVICE_URL_PLATFORM=https://${BASE_DOMAIN}
      - SERVICE_URL_USER=https://userservice.${BASE_DOMAIN}
      - LETSENCRYPT_HOST=pdfservice.${BASE_DOMAIN}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
      - LETSENCRYPT_TEST
    depends_on:
      - logger
    logging:
      driver: fluentd
      options:
        fluentd-address: "localhost:24224"
        tag: "slidewiki.pdfservice"

  unoconvservice:
    restart: always
    environment:
      - VIRTUAL_HOST=unoconvservice.${BASE_DOMAIN}
      - LETSENCRYPT_HOST=unoconvservice.${BASE_DOMAIN}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
      - LETSENCRYPT_TEST
    depends_on:
      - logger
    logging:
      driver: fluentd
      options:
        fluentd-address: "localhost:24224"
        tag: "slidewiki.unoconv"

  ##
  ##  SlideWiki Presentation Room Service
  ##

  signalingservice:
    restart: always
    environment:
      - VIRTUAL_HOST=signalingservice.${BASE_DOMAIN}
      - LETSENCRYPT_HOST=signalingservice.${BASE_DOMAIN}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
      - LETSENCRYPT_TEST
    volumes:
      - ./signalingservice/twitterConfig.json:/nodeApp/config.json:ro
    depends_on:
      - logger
    logging:
      driver: fluentd
      options:
        fluentd-address: "localhost:24224"
        tag: "slidewiki.signalingservice"

  ##
  ## SlideWiki NLP Services
  ##

  nlpstore:
    environment:
      - VIRTUAL_HOST=nlpstore.${BASE_DOMAIN}
      - SERVICE_URL_DECK=https://deckservice.${BASE_DOMAIN}
      - SERVICE_URL_DISCUSSION=https://discussionservice.${BASE_DOMAIN}
      - SERVICE_URL_ACTIVITIES=https://activitiesservice.${BASE_DOMAIN}
      - SERVICE_URL_NOTIFICATION=https://notificationservice.${BASE_DOMAIN}
      - SERVICE_URL_USER=https://userservice.${BASE_DOMAIN}
      - SERVICE_URL_SEARCH=https://searchservice.${BASE_DOMAIN}
      - SERVICE_URL_IMAGE=https://imageservice.${BASE_DOMAIN}
      - SERVICE_URL_FILE=https://fileservice.${BASE_DOMAIN}
      - SERVICE_URL_PDF=https://pdfservice.${BASE_DOMAIN}
      - SERVICE_URL_IMPORT=https://importservice.${BASE_DOMAIN}
      - LETSENCRYPT_HOST=nlpstore.${BASE_DOMAIN}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
      - LETSENCRYPT_TEST
    depends_on:
      - logger
    logging:
      driver: fluentd
      options:
        fluentd-address: "localhost:24224"
        tag: "slidewiki.nlpstore"

#  nlpservice:
#    environment:
#      - APPLICATION_SECRET=${NLP_APPLICATION_SECRET}
#      - VIRTUAL_HOST=nlpservice.${BASE_DOMAIN}
#      - SERVICE_URL_DECK=https://deckservice.${BASE_DOMAIN}
#      - SERVICE_URL_NLPSTORE=https://nlpstore.${BASE_DOMAIN}
#      - LETSENCRYPT_HOST=nlpservice.${BASE_DOMAIN}
#      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
#      - LETSENCRYPT_TEST
#    logging:
#      driver: fluentd
#      options:
#        fluentd-address: "localhost:24224"
#        tag: "slidewiki.nlpservice"

  ##
  ##  SlideWiki Learning Analytics Services
  ##

  xapi:
    environment:
      - VIRTUAL_HOST=xapi.${BASE_DOMAIN}
      - LETSENCRYPT_HOST=xapi.${BASE_DOMAIN}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
    depends_on:
      - logger
    logging:
      driver: fluentd
      options:
        fluentd-address: "localhost:24224"
        tag: "slidewiki.xapi"

  learninglocker:
    environment:
      - VIRTUAL_HOST=learninglocker.${BASE_DOMAIN}
      - VIRTUAL_PORT=3000
      - LETSENCRYPT_HOST=learninglocker.${BASE_DOMAIN}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
    depends_on:
      - logger
    volumes:
      - learninglocker-data:/opt/learninglocker/storage
    logging:
      driver: fluentd
      options:
        fluentd-address: "localhost:24224"
        tag: "slidewiki.learninglockerui"

  learninglockerapi:
    environment:
      - VIRTUAL_HOST=api.learninglocker.${BASE_DOMAIN}
      - VIRTUAL_PORT=80
      - LETSENCRYPT_HOST=api.learninglocker.${BASE_DOMAIN}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
      - SMTP_HOST
      - SMTP_PORT
      - SMTP_USER
      - SMTP_PASS
      - SMTP_SECURED
      - SMTP_IGNORE_TLS
    volumes:
      - learninglocker-data:/opt/learninglocker/storage
    depends_on:
      - logger
    logging:
      driver: fluentd
      options:
        fluentd-address: "localhost:24224"
        tag: "slidewiki.learninglockerapi"

  learninglockerworker:
    environment:
      - SMTP_HOST
      - SMTP_PORT
      - SMTP_USER
      - SMTP_PASS
      - SMTP_SECURED
      - SMTP_IGNORE_TLS
    depends_on:
      - logger
    volumes:
      - learninglocker-data:/opt/learninglocker/storage
    logging:
      driver: fluentd
      options:
        fluentd-address: "localhost:24224"
        tag: "slidewiki.learninglockerworker"
